.Polica h1 {
    font-size: 36px; 
    font-weight: 400;   
    width: 100%;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    padding: 70px 0px;
    padding-left: 0px;
}
.Polica h1 a
{
    text-decoration: none;
    color: rgb(71, 178, 210);
}
.Polica.Drama
{
    margin-bottom: 50px;
}