.KnjigaKartica {
    width: 250px;
    height: 300px;
    margin: 0 5px;
    text-align: center;
    overflow: hidden;
    
}

.KnjigaKartica img {
    width: 100%;
    height: 250px;
    /* height: 100px; */
}

@media (max-width: 420px) {
    .KnjigaKartica {
        width: 160px;
    }
}

@media (max-width: 370px) {
    .KnjigaKartica {
        width: 180px;
    }
}